<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>989932473731-p6rthmrf417gab9shr1dqmhj7cun9mfd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.989932473731-p6rthmrf417gab9shr1dqmhj7cun9mfd</string>
	<key>API_KEY</key>
	<string>AIzaSyDFD07dBn-5jIseSyUGM3otnCREYggfJkc</string>
	<key>GCM_SENDER_ID</key>
	<string>989932473731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.athleteWorkload</string>
	<key>PROJECT_ID</key>
	<string>athlete-workload-app</string>
	<key>STORAGE_BUCKET</key>
	<string>athlete-workload-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989932473731:ios:923a63a18a3d2583c37ab6</string>
</dict>
</plist>